body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

.body{
    flex: 1;
}

  .header {
    height: 72px; 
    background: #1f2937;
    color: white;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
  }

  .header-left {
    font-size: 30px;
  }



.hero{
    background: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    height: 350px

}

.hero-left{
    margin-left: 200px;
}

.hero-heading{
    font-size: 48px;
    font-weight:bold;
    color: #f9faf8;
}

.hero-img{
    width: 350px;
}

.random{
    height: 350px;

}


.random-header{
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;


}
.random-content{
    display: flex;
    gap: 52px;
    justify-content: center;
    text-align: center;

   

}


.quote-container {
    display: flex;
    background: #e5e7eb;
    height: 350px;
    align-items: center;
    justify-content: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1f2937;
    width: 800px;
    height: 200px;
    display: flex;

}

.action-container{
    display: flex;
    justify-content: center;
    height: 350px;
    align-items: center;
}

.action {
    background: #3882f6;
    color: white;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 30px;
}
    
.footer{
    background: #1f2937;
    display: flex;
    justify-content: center;
    color: white;
    padding: 20px 0px;
}

img {
    width: 100px;
    height: 100px;
  }


  ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
  }

  a{
    text-decoration: none;
    color: white;
  }

  button{
    background-color: #3882f6;
    color: white;
    border-color: white;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    border-style: solid;
  }